.section-3 {
    width: 85%;
    margin: 0 auto 80px;
    h2{
        text-align: left;
        margin: 30px 0;
    }

    .div-section-2 {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        

        div {
            background: $color2;
            color: black;
            margin-left: 45px;
            img{
                height: 200px;
                width: 100%;
            }
        }
    }
}